/* Importa Tailwind CSS */
@import "tailwindcss";

/* Variáveis do site */
:root {
  --background: #ffffff;   /* fundo sempre claro */
  --foreground: #181515;   /* texto escuro */
}

/* Corpo da página */
body {
  background-color: var(--background); /* fundo sempre claro */
  color: var(--foreground);            /* texto escuro */
  font-family: inherit;                /* usa Poppins do RootLayout */
  margin: 20px;
  padding: 40px;
}