@import "tailwindcss";

:root {
  /* Warm Black for background to avoid blueish tones */
  --background: #0a0908;   
  --foreground: #f8fafc;   
  --primary-orange: #f97316;
  --primary-red: #dc2626;
  --accent-gold: #fbbf24;
}

/* Corpo da página */
body {
  background-color: var(--background); 
  color: var(--foreground);            
  font-family: inherit;                
  margin: 0px;
  padding: 0px;
}